In [26]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [27]:
%matplotlib inline
pd.set_option('display.max_columns', None)

In [28]:
# import excel file TN_co-est2000-09-int-01-47.xls
TN_pop_2000=pd.read_excel('../data/US Census/TN_co-est2000-09-int-01-47.xls',
                         header=3)
TN_pop_2000

,Unnamed: 0,Unnamed: 1,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,Unnamed: 12,Unnamed: 13
0,Tennessee,5689427.0,5703719.0,5750789.0,5795918.0,5847812.0,5910809.0,5991057.0,6088766.0,6175727.0,6247411.0,6306019.0,6346105.0,6356897.0
1,.Anderson County,71470.0,71357.0,71461.0,71515.0,71608.0,71587.0,72040.0,73117.0,73580.0,74397.0,75031.0,75129.0,75160.0
2,.Bedford County,37608.0,37806.0,38414.0,38960.0,39697.0,40558.0,41616.0,42780.0,43678.0,44395.0,44845.0,45058.0,45161.0
3,.Benton County,16534.0,16537.0,16673.0,16572.0,16531.0,16517.0,16515.0,16435.0,16490.0,16431.0,16424.0,16489.0,16499.0
4,.Bledsoe County,12349.0,12390.0,12468.0,12446.0,12502.0,12610.0,12685.0,12847.0,13028.0,13070.0,12924.0,12876.0,12863.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,Note: All geographic boundaries for the 2000-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Table 1. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,Release Date: September 2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
TN_pop_2000.tail(10)

,Unnamed: 0,Unnamed: 1,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,Unnamed: 12,Unnamed: 13
94,.Williamson County,126649.0,128134.0,132536.0,136953.0,141876.0,147439.0,154099.0,161902.0,169534.0,175498.0,180332.0,183182.0,184035.0
95,.Wilson County,88794.0,89220.0,91020.0,93033.0,94924.0,97139.0,99960.0,103697.0,106757.0,110474.0,112350.0,113993.0,114537.0
96,"1 The April 1, 2000 Population Estimates base ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,"2 The data source for April 1, 2010 is the 201...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,"3 The values for July 1, 2010 were produced by...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Note: All geographic boundaries for the 2000-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Table 1. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,Release Date: September 2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# drop rows 96-103  df[:3] #keep top 3
TN_pop_2000=TN_pop_2000[0:96]
TN_pop_2000.tail(10)

,Unnamed: 0,Unnamed: 1,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,Unnamed: 12,Unnamed: 13
86,.Unicoi County,17666.0,17686.0,17642.0,17765.0,17918.0,17936.0,17937.0,18143.0,18205.0,18291.0,18367.0,18313.0,18278.0
87,.Union County,17843.0,17891.0,18322.0,18453.0,18652.0,18653.0,18734.0,18896.0,19041.0,19208.0,19225.0,19109.0,19068.0
88,.Van Buren County,5505.0,5507.0,5475.0,5505.0,5415.0,5412.0,5413.0,5406.0,5480.0,5541.0,5540.0,5548.0,5550.0
89,.Warren County,38275.0,38371.0,38566.0,38500.0,38828.0,38864.0,38987.0,39190.0,39365.0,39534.0,39709.0,39839.0,39899.0
90,.Washington County,107188.0,107469.0,107775.0,109526.0,110592.0,111849.0,113552.0,115923.0,117833.0,120056.0,121692.0,122979.0,123338.0
91,.Wayne County,16817.0,16819.0,17075.0,17078.0,17036.0,17010.0,17006.0,17033.0,16991.0,17004.0,17048.0,17021.0,17005.0
92,.Weakley County,34917.0,34927.0,34491.0,34443.0,34300.0,34307.0,34407.0,34289.0,34256.0,34484.0,34732.0,35021.0,35024.0
93,.White County,23139.0,23160.0,23468.0,23650.0,23754.0,24069.0,24489.0,24866.0,25250.0,25548.0,25789.0,25841.0,25847.0
94,.Williamson County,126649.0,128134.0,132536.0,136953.0,141876.0,147439.0,154099.0,161902.0,169534.0,175498.0,180332.0,183182.0,184035.0
95,.Wilson County,88794.0,89220.0,91020.0,93033.0,94924.0,97139.0,99960.0,103697.0,106757.0,110474.0,112350.0,113993.0,114537.0

In [31]:
# import excel file TN_co-est2010-19-annres-47.xlsx
TN_pop_2010=pd.read_excel('../data/US Census/TN_co-est2010-19-annres-47.xlsx',
                         header=3)
TN_pop_2010

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Tennessee,6346105.0,6346276.0,6355311.0,6399291.0,6453898.0,6494340.0,6541223.0,6591170.0,6646010.0,6708799.0,6771631.0,6829174.0
1,".Anderson County, Tennessee",75129.0,75082.0,75098.0,75209.0,75225.0,75299.0,75157.0,75456.0,75528.0,76056.0,76287.0,76978.0
2,".Bedford County, Tennessee",45058.0,45057.0,45078.0,45247.0,45254.0,45565.0,46251.0,46948.0,47442.0,48211.0,49146.0,49713.0
3,".Benton County, Tennessee",16489.0,16491.0,16511.0,16529.0,16445.0,16360.0,16197.0,16220.0,16082.0,15993.0,16246.0,16160.0
4,".Bledsoe County, Tennessee",12876.0,12874.0,12884.0,12992.0,12926.0,13910.0,14501.0,14601.0,14738.0,14895.0,14883.0,15064.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
TN_pop_2010.tail(10)

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
91,".Wayne County, Tennessee",17021.0,17025.0,16985.0,17000.0,16973.0,16920.0,16860.0,16767.0,16747.0,16641.0,16635.0,16673.0
92,".Weakley County, Tennessee",35021.0,35015.0,35044.0,34857.0,34554.0,34155.0,34001.0,33872.0,33610.0,33325.0,33413.0,33328.0
93,".White County, Tennessee",25841.0,25844.0,25828.0,26050.0,26031.0,26193.0,26264.0,26342.0,26463.0,26764.0,27086.0,27345.0
94,".Williamson County, Tennessee",183182.0,183277.0,184143.0,188501.0,193211.0,199143.0,205334.0,211605.0,218903.0,226048.0,231978.0,238412.0
95,".Wilson County, Tennessee",113993.0,114062.0,114677.0,116800.0,119143.0,121990.0,125197.0,128536.0,132494.0,136691.0,140954.0,144657.0
96,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# drop rows 96-103  df[:3] #keep top 3
TN_pop_2010=TN_pop_2000[0:96]
TN_pop_2010.tail(10)

,Unnamed: 0,Unnamed: 1,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,Unnamed: 12,Unnamed: 13
86,.Unicoi County,17666.0,17686.0,17642.0,17765.0,17918.0,17936.0,17937.0,18143.0,18205.0,18291.0,18367.0,18313.0,18278.0
87,.Union County,17843.0,17891.0,18322.0,18453.0,18652.0,18653.0,18734.0,18896.0,19041.0,19208.0,19225.0,19109.0,19068.0
88,.Van Buren County,5505.0,5507.0,5475.0,5505.0,5415.0,5412.0,5413.0,5406.0,5480.0,5541.0,5540.0,5548.0,5550.0
89,.Warren County,38275.0,38371.0,38566.0,38500.0,38828.0,38864.0,38987.0,39190.0,39365.0,39534.0,39709.0,39839.0,39899.0
90,.Washington County,107188.0,107469.0,107775.0,109526.0,110592.0,111849.0,113552.0,115923.0,117833.0,120056.0,121692.0,122979.0,123338.0
91,.Wayne County,16817.0,16819.0,17075.0,17078.0,17036.0,17010.0,17006.0,17033.0,16991.0,17004.0,17048.0,17021.0,17005.0
92,.Weakley County,34917.0,34927.0,34491.0,34443.0,34300.0,34307.0,34407.0,34289.0,34256.0,34484.0,34732.0,35021.0,35024.0
93,.White County,23139.0,23160.0,23468.0,23650.0,23754.0,24069.0,24489.0,24866.0,25250.0,25548.0,25789.0,25841.0,25847.0
94,.Williamson County,126649.0,128134.0,132536.0,136953.0,141876.0,147439.0,154099.0,161902.0,169534.0,175498.0,180332.0,183182.0,184035.0
95,.Wilson County,88794.0,89220.0,91020.0,93033.0,94924.0,97139.0,99960.0,103697.0,106757.0,110474.0,112350.0,113993.0,114537.0